<div class="row">
  
  <div class="col-md-4 col-md-offset-4 box">
    <table class="table table-bordered table-hover" id="table">
      <caption class="cap"><%= @list.title %></caption>
        <thead>
          <tr>
            <th>Description</th>
            <th>Time Remaining</th>
            <th>Mark as Complete</th>
          </tr>
        </thead>
        <tbody class="items">
          <%= render partial: 'items/item', collection: @items %>          
        </tbody>
      </table>
       <div class="item-form">
      <%= render 'items/form' %>
    </div>
      
  </div>
</div>

