@import "bootstrap-sprockets";
@import "bootstrap";




.box {
  margin-top: 25px;
}

 .user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

#table th, #table td {
  text-align: center;
}

.cap {
  font-size: 16px;
  background-color: #F0F0F0;
}

